#painel-ficha{
    position: relative;
    margin-left: 100px;
    margin-top: 50px;
}

#painel-nomes{
    position: relative;
    width: 300px;
    min-height: 50px;
    max-height: 100%;
    border: 3px solid #222E73;
    border-radius: 10px;
    background: #BFCDD9;
    overflow: hidden;
}

#title-ficha{
    color: rgb(226,226,226);
    text-align: center;
}

#title-background{
    background: #38024D;
    border-radius: 10px;
    width: 305px;
}

#input-box{
    background: #2f3640;
    border-radius: 40px;
    width: 200px;;
    margin-top: 7px;
    margin-left: 50px;
    height: 25px;
}

#conteudoNome{
    border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: white;
	font-size: 15px;
	line-height: 25px;
    margin-left: 10px;
    width: 155px;
}

#enviarSub{
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background: #2f3640;
    color: #027373;
    font-size: 18px;
    margin-top: 1px;
}

#startCountDown{
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background: #BFCDD9;
    font-size: 20px;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    transition: 0.5s;
}

#botao-clock{
	width: 100%;
	background: #BFCDD9;
	transition: 0.5s;
    border-radius: 10px;
}

#painel-nomes:hover #botao-clock{
    background: #220B5E;
}

#painel-nomes:hover #startCountDown{
    background: #220B5E;
    color: rgb(226,226,226);
}
