.tabela {
    position: absolute;
    top: 50%;
    left: 35%;
    background-color: rgb(220, 220, 220);
    width: 500px;
    padding: 3px;
    margin-bottom: 15px;
    border: 1px solid;
    border-radius: 5px;
    display: block;
    align-content: center;
}

.usuario {
    position: relative;
    left: 100px;
}

.contador {
    position: relative;
    bottom: 100px;
    margin: 2px;
    display: inline;
    padding-bottom: 20px;
}

#voto {
    position: relative;
    top: 20px;
    right: 22px;
    font-size: 18px;
}

.triangulo:hover {
    background-color: rgb(178, 34, 34);
}