.painel{
	position: relative;
	width: 100%;
	display: flex;
}

.box1{
	position: relative;
	margin-left: 100px;
}

.box2{
	position: relative;
	margin-left: 12%;
}

#msgBox{
	position: relative;
	border: 2px solid #490080;
	border-radius: 10px;
	width:  450px;
    height: 550px;
    overflow: auto;
}

 #highlightsBox {
	position: relative;
    width:  350px;
	height: 400px;
	border: 2px solid #490080;
	border-radius: 10px;
	overflow: auto;
}

.title-chat{
	text-align: center;
	color: rgb(226,226,226);
}

.box-title-chat{
	background: #510E80;
	border-radius: 10px;
}

.title-light{
	text-align: center;
	color: rgb(226,226,226);
}

.box-title-light{
	background-color: #510E80;
	border-radius: 10px;
}

.comment-box{
	background: #2f3640;
	border-radius: 40px;
	width: 300px;
	height: 35px;
	margin-top: 5px;
	margin-left: 65px;
}

#msgContent{
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: white;
	font-size: 15px;
	line-height: 35px;
	margin-left: 10px;
	width: 245px;
}

#send{
	cursor: pointer;
	border: none;
	border-radius: 50%;
	background: #2f3640;
	color: white;
	margin-top:2px;
	color: #027373;
	font-size: 25px;
}

@media screen and (max-width:1200px){
	#msgBox{
		position: relative;
		border: 2px solid #490080;
		border-radius: 10px;
		width:  400px;
		height: 500px;
		overflow: auto;
	}

	#highlightsBox {
		position: relative;
		width:  300px;
		height: 350px;
		border: 2px solid #490080;
		border-radius: 10px;
		overflow: auto;
	}
	
	.comment-box{
		background: #2f3640;
		border-radius: 40px;
		width: 270px;
		height: 30px;
		margin-top: 5px;
		margin-left: 58px;
	}

	#msgContent{
		border: none;
		background: none;
		outline: none;
		float: left;
		padding: 0;
		color: white;
		font-size: 15px;
		line-height: 30px;
		margin-left: 10px;
		width: 200px;
	}

	#send{
		cursor: pointer;
		border: none;
		border-radius: 50%;
		background: #2f3640;
		color: white;
		margin-top:2px;
		color: #027373;
		font-size: 20px;
	}
}

@media screen and (max-width:1050px){
	#msgBox{
		position: relative;
		border: 2px solid #490080;
		border-radius: 10px;
		width:  350px;
		height: 450px;
		overflow: auto;
	}

	#highlightsBox {
		position: relative;
		width:  250px;
		height: 300px;
		border: 2px solid #490080;
		border-radius: 10px;
		overflow: auto;
	}
	
	.comment-box{
		background: #2f3640;
		border-radius: 40px;
		width: 230px;
		height: 25px;
		margin-top: 5px;
		margin-left: 55px;
	}

	#msgContent{
		border: none;
		background: none;
		outline: none;
		float: left;
		padding: 0;
		color: white;
		font-size: 15px;
		line-height: 25px;
		margin-left: 10px;
		width: 180px;
	}

	#send{
		cursor: pointer;
		border: none;
		border-radius: 50%;
		background: #2f3640;
		color: white;
		margin-top:1px;
		color: #027373;
		font-size: 18px;
	}
}

@media screen and (max-width:900px){
	#msgBox{
		position: relative;
		border: 2px solid #490080;
		border-radius: 10px;
		width:  300px;
		height: 400px;
		overflow: auto;
	}

	#highlightsBox {
		position: relative;
		width:  250px;
		height: 250px;
		border: 2px solid #490080;
		border-radius: 10px;
		overflow: auto;
	}
	
	.comment-box{
		background: #2f3640;
		border-radius: 40px;
		width: 215px;
		height: 25px;
		margin-top: 5px;
		margin-left: 45px;
	}

	#msgContent{
		border: none;
		background: none;
		outline: none;
		float: left;
		padding: 0;
		color: white;
		font-size: 15px;
		line-height: 25px;
		margin-left: 10px;
		width: 170px;
	}

	#send{
		cursor: pointer;
		border: none;
		border-radius: 50%;
		background: #2f3640;
		color: white;
		margin-top:1px;
		color: #027373;
		font-size: 18px;
	}
}

@media screen and (max-width:768px){
	.painel{
		position: relative;
		width: 100%;
		display: block;
	}
	
	.box-title-chat{
		width: 300px;
		background: #510E80;
		border-radius: 10px;
	}
	
	.box-title-light{
		width: 250px;
		background-color: #510E80;
		border-radius: 10px;
	}
	
	.box2{
		position: relative;
		margin-left: 120px;
		margin-top: 40px;
	}
	
	.comment-box{
		background: #2f3640;
		border-radius: 40px;
		width: 215px;
		height: 25px;
		margin-top: 5px;
		margin-left: 45px;
	}

	#msgContent{
		border: none;
		background: none;
		outline: none;
		float: left;
		padding: 0;
		color: white;
		font-size: 15px;
		line-height: 25px;
		margin-left: 10px;
		width: 170px;
	}

	#send{
		cursor: pointer;
		border: none;
		border-radius: 50%;
		background: #2f3640;
		color: white;
		margin-top:1px;
		color: #027373;
		font-size: 18px;
	}
}





.tabela{
	position: relative;
	background-color: #90CBAB;
	border-radius: 10px;
	border: 1.5px solid #054863;
	height: 20%;
	width: 427px;
	max-height: 100%;
	overflow: hidden;
	margin-left: 10px;
	margin-top: 10px;
}

.tabela .arrow{
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: #36857B;
	transition: 0.5s;
	z-index: 1;
}

.tabela:hover .arrow{
	width: 48px;
}

.fa-arrow-up {
	margin-top: 5px;
	margin-left: 10px;
	transition: 0.5s;
	cursor: pointer;
}

#contador{
	margin-left: 13px;
	font-size: 20px;
}

.fa-arrow-down{
	margin-left: 10px;
	cursor: pointer;
}
	

.tabela .icon2{
	margin-left: 93%;
	margin-top: 10px;
}

.tabela .icon3{
	margin-left: 20%;
}

.tabela .usuario{
	margin-left: 53px;
}

.tabela .icon3 .user{
	margin-left: 6%;
	margin-top: -17.5px;
}
