.tabela{
	position: relative;
	background-color: #90CBAB;
	border-radius: 10px;
	border: 1.5px solid #054863;
	height: 25%;
	width: 30%;
	max-height: 100%;
	overflow: hidden;
}

.tabela .arrow{
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: #36857B;
	transition: 0.5s;
	z-index: 1;
}

.tabela:hover .arrow{
	width: 48px;
}

.fa-arrow-up {
	margin-top: 15px;
	margin-left: 15px;
	transition: 0.5s;
	cursor: pointer;
}

#contador{
	margin-left: 18px;
	font-size: 20px;
}

.fa-arrow-down{
	margin-left: 15px;
	cursor: pointer;
}
	

.tabela .icon2{
	margin-left: 93%;
	margin-top: 10px;
}

.tabela .icon3{
	margin-top: 10px;
	margin-left: 30%;
}

.tabela .usuario{
	margin-left: 53px;
}

.tabela .icon3 .user{
	margin-left: 6%;
	margin-top: -17.5px;
}
